.header {
    background: rgb(92, 92, 92);
    color: white;
    font-size: 1rem;
    border: 1px white solid;
}

@media (min-width: 1250px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .game-container {
        height: 90vh;
        width: 650px;
        margin-left: 1px;
    }
    .game-play div {
        width: 20px;
        height: 40px;
        background: rgba(230, 250, 190, 0);
        display: inline-block;
    }
    .game-play{
        height: 88vh;
        width: 100%;
        background: url('./resources/images/roadCropped.png');
        background-size: cover !important;
        margin: auto;
        border: 5px black solid;
    }
    .sideWays{
        height: 88vh;
        width: 100%;
        background-image: url('./resources/images/sideTrees.jpg');
        background-size: cover;
        border: 5px black solid;
    }
    .scoreBoard{
        margin-left: 216px;
        height: 88vh;
        width: 396px;
        font-size: 22px;
        font-family: system-ui;
        background: #808de7;
        border: 5px black solid;
        color: white;
    }
    .scorePoints{
        margin-top: 50px;
        margin-left: 50px;
    }
    .scoreLogo{
        background-image: url('./resources/images/logo.png') !important;
        background-size: cover !important;
        width: 130%;
        height: 334px;
        margin-left: -94px;
    }
}

@media (min-width: 1600px) {
    .game-container {
        height: 90vh;
        width: 900px; /*550*/
        margin-left: 1px;
    }
    .game-play div {
        width: 35px;
        height: 70px;
        background: rgba(230, 250, 190, 0);
        display: inline-block;
    }
    .game-play{
        height: 89vh;
        width: 100%;
        background: url('./resources/images/roadCropped.png');
        background-size: cover !important;
        margin: auto;
        border: 5px black solid;
    }

    .sideWays{
        /* float:left; */
        height: 89vh;
        width: 100%;
        background-image: url('./resources/images/sideTrees.jpg');
        background-size: cover;
        border: 5px black solid;
    }
    .scoreBoard{
        margin-left: 295px;
        height: 89vh;
        width: 707px;
        font-size: 35px;
    }
    .scoreLogo{
        background-image: url('./resources/images/logo.png') !important;
        background-size: cover !important;
        width: 707px;
        height: 400px;
        margin-left: -94px;
    }
}






.blastImg{
    background: url('./resources/images/boomImg.png') !important;
    background-size: cover !important;
    /* width: 80px !important; */
}

.myCar {
    background-image: url('./resources/images/greenCar.png') !important;
    background-size: cover !important;
}

.enemy {
    background-image: url('./resources/images/redCar.png') !important;
    background-size: cover !important;
}

.enemyTruck {
    background: url('./resources/images/enemyTruck.png') !important;
    background-size: cover !important;
}

.enemyPolice {
    background: url('./resources/images/policeCar.png') !important;
    background-size: cover !important;
}


.food {
    background: red !important;
    border-radius: 50%;
}

.overlay {
    position: relative;
    width: 100%;
    margin-top: -30vh;
    left: 0;
    bottom: 0;
    z-index: 9;
}

.overlay-content {
    position: relative;
    top: 50%;
    text-align: center;
}